.popup {
  width: 20.38%;
  position: fixed;
  bottom: 50px;
  left: 50px;
  background-color: #f6f6fe;
  border: 1px solid #605dec;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 16px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  align-items: center;
  z-index: 1;
}
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.popup h4 {
  font-size: 18px;
  color: #605dec;
  line-height: 24.55px;
  font-weight: 600;
}
.popup span {
  font-size: 24px;
  cursor: pointer;
}

.popupButtons {
  display: flex;
  gap: 4px;
  width: 100%;
}

.popupButtons button {
  width: 100%;
  padding: 10px 16px;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
}

.acceptButton {
  background-color: #605dec;
  color: white;
}

.declineButton {
  color: #605dec;
  background-color: white;
}
