.container {
  width: 100%;
  padding: 12px 20px;
  background-color: white;
  border: 1px solid #605dec;
  border-radius: 4px;
  cursor: pointer;
}
.innercontainer {
  width: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.container span {
  color: #605dec;
  line-height: 24.55px;
}
